html, body {
	width: 100%;
	height:100%;
	margin: 0px;
	padding: 0px;

	overflow: hidden;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#z-index0 {
	z-index: 0;
}

#z-index1 {
	z-index: 1;
}

#z-index2 {
	z-index: 2;
}

#z-index3 {
	z-index: 3;
}

#z-index4 {
	z-index: 4;
}

#z-index5 {
	z-index: 5;
}

/*---------*/
/* POINTER */
/*---------*/
.pointer {
	position: absolute;
	z-index: auto;
	overflow: hidden;

	cursor: context-menu;
}
.pointer p{
	font-family: Arial;
	font-size: 10px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

.pointer img{
	width: 16px;
	height: 16px;
}

/*------------*/
/* COMMANDBAR */
/*------------*/
#commandBar {
	position: absolute;
	top:0px;

	width: 100%;
	height: 60px;

	background-color: #558b2f;
	box-shadow: 0px 0px 16px 0px black;
}

#btnMenu1 {
	position: absolute;
	top: 14px;
	bottom: 14px;
	left: 16px;

	width: 32px;
	height: 32px;

	cursor: pointer;
	background-image: url(../assets/icons/hamburger.svg);
	background-size: contain;
}

#btnMenu2 {
	position: absolute;
	top: 14px;
	bottom: 14px;
	left: 64px;

	width: 32px;
	height: 32px;

	cursor: pointer;
	background-image: url(../assets/icons/notification.svg);
	background-size: contain;
}

#status {
	position: absolute;
	top: 14px;
	left: 50%;
	transform: translate(-50%);

	color: #ffffff;
}

#btnUndo {
	position: absolute;
	top: 14px;
	bottom: 14px;
	right: 64px;

	width: 32px;
	height: 32px;

	cursor: pointer;
	background-image: url(../assets/icons/undo.svg);
	background-size: contain;
}

#btnRedo {
	position: absolute;
	top: 14px;
	bottom: 14px;
	right: 16px;

	width: 32px;
	height: 32px;

	cursor: pointer;
	background-image: url(../assets/icons/redo.svg);
	background-size: contain;
}

.removed {
	display: none;
}

.btn {
	display: inline-block;
	cursor: pointer;

	color: black;
	text-decoration: none;
}

.btn img{
	vertical-align: middle;

	width: 32px;
	height: 32px;
}

.btn span{
}

label[for="btnColor"]{
	display:block;
	width: 200px;
	height: 32px;
}

.currentTool {
	background: #7cb342;
	cursor: pointer;
}

.currentTool img{
	vertical-align: middle;

	width: 32px;
	height: 32px;
}

.currentTool span{
}

.currentWidth {
	display: inline-block;
	background: #7cb342;
	cursor: pointer;
}

.currentWidth img{
	vertical-align: middle;

	width: 32px;
	height: 32px;
}

.currentWidth span{
}

/*----------------*/
/* CANVAS WRAPPER */
/*----------------*/
#canvasWrapper {
	position:absolute;
	top: 60px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	width: 100%;
	height: calc(100% - 60px);

	/*background-color: #7cb342;*/
}

/*--------*/
/* CANVAS */
/*--------*/
#canvas {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	width: 100%;
	height: 100%;

	background-color: #ffffff; 

	/*background:url(../assets/backgrounds/millimeter.png);*/

	/*cursor: url(../assets/cursors/dot_4px.cur), progress;*/
}

/*------------*/
/* MENUSLAYER */
/*------------*/
.fadeOut {
	opacity: 0.5;
}
.display {
	opacity: 0.5;
	min-width: 100%;
}

.fadeIn {
	opacity: 0;
}
.hidden {
	opacity: 0;
	max-width: 0px;
}

#menusLayer {
	position: absolute;
	top: 0px;
	left: 0px;

	min-height: 100%;
	width: 100%;

	background-color: black;

	transition: 0.2s opacity;
}

/*-------*/
/* MENUS */
/*-------*/
.slideIn {
	left: 0px;

	box-shadow: 0px 0px 16px 0px black;
}
.slideOut {
	left: -200px;

	box-shadow: none;
}

#menu1 {
	position: absolute;
	top: 0px;
	bottom: 0px;

	max-width: 50%;
	width: 200px;
	height: 100%;

	overflow-y: auto;

	background-color: #689f38;
	transition: 0.2s left;

	
}

#menu1 ul {
	padding: 0px 0px 0px 0px;
	list-style-type: none;
}

#menu1 li {
	width: 200px;
}

#menu2 {
	position: absolute;
	top: 0px;
	bottom: 0px;

	max-width: 50%;
	width: 200px;
	height: 100%;

	overflow-y: auto;

	background-color: #689f38;
	transition: 0.2s left;
}

#menu2 ul {
	padding: 0px 0px 0px 0px;
	list-style-type: none;
}

#menu2 li {
	width: 200px;
}

/*-------*/
/* USERS */
/*-------*/
#userswrapper {
	position:absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;

	width: 100%;
	height: 50%;

	word-wrap: break-word;
}
#usersList {
	width: 100%;
	height: 100%;

	background-color: #689f38;
}
#usersList img{
	vertical-align: middle;

	width: 32px;
	height: 32px;
}
#usersList span{
}

/*--------------*/
/* CHAT WRAPPER */
/*--------------*/

#chatwrapper {
	position:absolute;
	top:50%;
	bottom:0px;
	left: 0px;

	width: 100%;
	height: 50%;

	word-wrap: break-word;
}
#messagebox {
	width: 100%;
	height: calc(100% - 60px);

	overflow: auto;

	background-color: #558b2f;

	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
#messagebox p{
	font-family: Arial;
	font-size: 15px;
	margin: 0px;
	padding: 0px 10px 0px 10px;

	//word-wrap: break-word;
}
#inputText {
	width:  calc(100% - 20px);
	height: 60px;
  
	background-color: #689f38;
	padding: 0px;
	border: 0px;

	font-family: Arial;
	font-size: 15px;
	padding: 0px 10px 0px 10px;

	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
#inputText:focus{
	outline: none;
}

/*-------------*/
/* DIALOGLAYER */
/*-------------*/
#dialogLayer{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	min-height: 100%;
	min-width: 100%;

	background-color: black;
	opacity: 0.5;
}

/*--------*/
/* DIALOG */
/*--------*/
#dialog{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	height: 200px;
	width: 240px;
	min-height: 200px;
	min-width: 240px;

	background-color: #689f38;

	cursor: context-menu;

	box-shadow: 0px 0px 16px 0px black;
}

#dialogTitle{
	width: 240px;
	height: 24px;

	text-align: center;
	line-height: 24px;

	background-color: #558b2f;
}

#dialogTitle span{
	color: black;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.dialogInputText{
	display: block;

	width: 240px;
	height: 48px;

	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0px solid black;

	cursor: text;
	background-color: #7cb342;
}
.dialogInputText:focus{
	outline: none;
}

#dialogAlert{
	width: 100%;
	height: 48px;
}

#dialogAlert span{
	color: black;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

#dialogButtons{
	position: relative;
	width: 100%;
	height: 32px;
}

.dialogButtons{
	display: inline-block;
	
	width: 120px;
	height: 32px;

	text-align: center;
	line-height: 32px;

	background-color: #558b2f;

	cursor: pointer;
}

.dialogButtons span{
	color: black;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}